/* h1 a, h2 a{
  color: #C25100;
  font-family: 'Noto Serif JP';
} */
/* body {
  padding-left: 30px;
} */
body {
  /* background: linear-gradient(180deg, #77428D 50%, #ffffff 150%) fixed;
  background:#77428D;
  animation: gradationTest 5s infinite;
  background-position: 100% 150;
  transition: .5s; */
  background-image: url("../img/home_background_2.jpg");
  background-repeat: repeat;
  /* background-size: contain; */
  background-size: 1000px 1500px;
}
button {
  padding: 1.5em 5em;
  background: #efefef;
  border: none;
  border-radius: .5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .3s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}
button:hover {
  padding: auto auto;
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226, 100) 30%); */
  /* background-position: -100% 0; */
  /* color: #fff; */
  /* background-size: 200% auto; */
  transition: .3s;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}
a {
  color: teal;
  text-decoration: none;
}

.progress-bar {
  padding:15px 70px 15px 70px;
}
.hidden_box {
    margin: 1em 0;
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
    /* padding: 15px;
    font-weight: bold;
    background: #efefef;
    border-radius: 5px;
    cursor :pointer;
    transition: .5s; */
    /* background: #EFEEEE; */
    border-radius: 0px;
    /* padding: 20px 20px 20px 40px; */
    padding:15px 70px 15px 70px;
    width: 800px;
    text-align: center;
    transition: .2s ease-in-out;
    background: linear-gradient(30deg, #ffffff, #ffffff);
    /* background: #42baff; */
    box-shadow:  -6px 6px 0px #39a0db,
                 6px -6px 0px #4bd4ff;
    font-size: 2em;
}

/*アイコンを表示*/
.hidden_box label:before {
    display: inline-block;
    content: '★';
    /*font-family: 'FontAwesome';*/
    padding-right: 0px;
    color:inherit;
    /*transition: 0.2s;*/
    transition: 3s;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);

}

h1:hover .fa{
  color: #a786df;
}
.hidden_box label:hover .fa{
  color: #a786df;
}
/*アイコンを切り替え*/
.hidden_box input:checked ~ label:before {
     content: '★';
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
     transition: 3s;
     color: red;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    /* padding: 10px 0; */
    height: auto;
    font-size: 1.5em;
    opacity: 1;
}

.box {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #fbfcee;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .1;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 800px;
  margin-left: -250px;
  margin-top: -250px;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;

}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(88, 6, 221,0.3)), color-stop(80%, rgba(221, 238, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to bottom, rgba(88, 6, 221,0.3), rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
  z-index: 11;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 160px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: white;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: .3em;
  font-size:3em;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.shadowbox{
  float:left;
  padding:5px 50px 50px 5px;
}
.shadowbox {
  width: 20em;
}


.boxdashed {
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;/*点線*/
    padding:18px;
}
.lowboxdashed {
    background: #f0f7ff;
    border: dashed 5px #5b8bd0;/*点線*/
    text-align: center;

    font-size: 1.5em;
    opacity: 1;
}
.page-header {
    /* background-color: #C25100; */
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    #color: #ffffff;
    font-size: 36pt;
    font-family: 'Noto Serif JP', cursive;
    text-decoration: none;
}
.page-header{
  padding: auto auto;
  background: linear-gradient(45deg, #8F77B5 50%, #4A225D 100%) fixed;
  animation: gradationTest 15s infinite;
  background-position: 0% 150;
  color: #fff;
  background-size: 200% auto;
  transition: .3s;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
  /* background-image: url("../img/home_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
}
@keyframes gradationTest {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
.make_line {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
}
.neumorphism1 {
  background: #EFEEEE;
  border-radius: 12px;
  /* padding: 20px 20px 20px 40px; */
  #margin-left: 50px;
  text-align: center;
  #margin-right: 50px;
  transition: .2s ease-in-out;
  background: linear-gradient(30deg, #ffffff, #ffffff);
  box-shadow:  0px 0px 24px #a6a6a6,
               6px 6px 24px #ffffff;
}
.neumorphism1:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
.neumorphism1:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.page {
  margin: auto auto;
  text-align: center;
  /* padding-left: 30px; */
}
.date {
    color: #828282;
}

.inline_block{
  display:inline-block;
}
.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 60%, #4A225D 120%) fixed;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  margin-left:30%;
  margin-right:30%;
  width: 100%;
  height: 1px;
  position: relative;
  border: 2px #fff;
  animation: loader 10s infinite ease;
  font-size: 32px;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  height:100%;
  background-color: #fff;
  animation: loader-inner 4s infinite ease-out;
}
@keyframes loader {
/*   0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);} */
}
@keyframes loader-inner {
  0% { width: 0%;}
  25% { width: 45%;}

  65% { width: 70%;}
  75% { width: 85%;}
  100% { width: 100%;}
}
