{% load static %}

<html>
  <head>
    <title>連絡用ページ</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Noto+Serif+JP&subset=japanese" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  </head>
  <body>
<h1 class="page-title" style = "margin-left:20px;font-size:50px;color: red" >釈迦 - kawaii pets&#x27; PLAYGROWNDS</h1>
<div class="page-body" style = "font-size:25px;">
    <font color = "#FEDFE1">
    <ul id="7cbe5a68-e89c-474e-b38c-e556fd283dae" class="toggle"><li><details><summary>むぎ</summary><p id="a9c595b9-23f9-4e5d-bc77-4e82f77aa0cc" class="">白いもふもふで可愛い<br><blockquote class="twitter-tweet"><p lang="ja" dir="ltr">眠気を誘う <a href="https://t.co/14KAJmVHnM">pic.twitter.com/14KAJmVHnM</a></p>&mdash; SHAKA a.k.a. 釈迦🐈 (@avashaka) <a href="https://twitter.com/avashaka/status/1125951166880157696?ref_src=twsrc%5Etfw">May 8, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p><p id="aa07aee9-b2a9-4160-9c30-7082c1a9b96f" class="">
    </p></details></li></ul><ul id="bd68e39a-2c12-4d39-b268-5abb589f08d5" class="toggle"><li><details><summary>ゆず</summary><p id="f41e0c99-f2fa-4f7f-9b6f-66409dfa4d01" class="">もふもふ<br><blockquote class="twitter-tweet"><p lang="ja" dir="ltr">昨日はゆずの誕生日だったよ、3歳 <a href="https://t.co/HsCD86S5Ph">pic.twitter.com/HsCD86S5Ph</a></p>&mdash; ごりらととさしみ (@haha_gorira) <a href="https://twitter.com/haha_gorira/status/1352123814256156673?ref_src=twsrc%5Etfw">January 21, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p><p id="bba35a50-a671-4f86-b820-033009f738c0" class="">凄い寝方をする</p><p id="7e0287f4-4076-492b-9146-411d72f0358f" class="">
    </p></details></li></ul><ul id="73f737f2-05f7-4cea-bf69-33cb7f41c862" class="toggle"><li><details><summary>とと</summary><p id="d5d364e0-7e3d-4398-8de2-701c1c86856f" class="">茶色の弾丸　もふもふ<br><blockquote class="twitter-tweet"><p lang="ja" dir="ltr">ですぎ <a href="https://t.co/ViYIrMsnd9">pic.twitter.com/ViYIrMsnd9</a></p>&mdash; ごりらととさしみ (@haha_gorira) <a href="https://twitter.com/haha_gorira/status/1117537838319300608?ref_src=twsrc%5Etfw">April 14, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p><p id="a20ecda9-6c53-4431-9598-363ec69abee9" class="">ごりらさんがいないとだめ</p><p id="db6b138a-6b75-47e5-b671-3e583faa69ce" class="">
    </p></details></li></ul><ul id="db3fad2f-fe4c-4b91-809d-94bda9f4cba2" class="toggle"><li><details><summary>もっぷ</summary><p id="75c0c1ec-60f0-4c0b-b788-bf0d2fd5c771" class="">でかい　個人的に好きだけど登場シーンが少ない</p><br><blockquote class="twitter-tweet"><p lang="ja" dir="ltr">映える顔してるなモップ<br>水飲んできたばかりで胸毛変だけど <a href="https://t.co/wTCw94bYri">pic.twitter.com/wTCw94bYri</a></p>&mdash; ごりらととさしみ (@haha_gorira) <a href="https://twitter.com/haha_gorira/status/1287827380178804736?ref_src=twsrc%5Etfw">July 27, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><p id="c824b6d7-fdab-4cde-9e96-0dc5b1275582" class="">配信中には一度も出てこなかった...？？かも</p><p id="de4da6f0-45db-43ae-9fec-6fa1cb0c6263" class="">
    </p></details></li></ul>
    <br>
  </font>
  <font color = "#000000">
    <div class = "boxdashed" style="border: dashed 2px #39a0db; margin-left:20px;margin-right:20px">
    <p  style = "margin-left:20px;font-size:21px;" >
    釈迦(fps_shaka)さんの飼っているねこちゃんが可愛い！<br>
    でもねこちゃん（むぎ、ゆず、とと、もっぷ）がどれか分からない時がある...<br>
    もふもふしてるのがむぎ？ゆず？<br>
    色で判定できるのはとと？<br>
    <br>
    というわけで<br>
    <br>
    画像分析に触れて楽しい！！<br>
    この技術を使って分類出来たら楽しくない！？<br>
    <br>
    →やってみたい！！
  </p>
</div>
</font>
</div>
  <div class = "page" onmousedown='return false;' onselectstart='return false;'>
    <font size = "5px" color = "#FEDFE1">
    <br>
    著作権的な内容を含むため、一般公開は控えさせていただいています。<br>
    <a href = "https://github.com/anko191/akahS">ここに公開githubがあります</a>
    <br>詳しくはTwitterにDMをよろしくお願いします。
    </font>
  </div>
  </body>
</html>
