{% load static %}

<html>
  <head>
    <title>連絡用ページ</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Noto+Serif+JP&subset=japanese" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  </head>
  <body>
  <div class = "page" onmousedown='return false;' onselectstart='return false;'>
    <font size = "5px" color = "#FEDFE1">
    <br>
    著作権的な内容を含むため、一般公開は控えさせていただいています。<br>
    <a href = "https://github.com/anko191/akahS">ここに公開githubがあります</a>
    <br>詳しくはTwitterにDMをよろしくお願いします。
    </font>
  </div>
  </body>
</html>
