{% load static %}
<!-- －－－－－　〇　区域分け！ 〇　－－－－－-->

<table><tr><th><div class = "lowboxdashed">
DailyProgress(遂行時間)
</div>
<div class = "boxdashed"><a href="https://github.com/anko191/DailyProgress" target="_blank" title="Dp"><img src= "{% static "img/Dailyprogress.png" %}" style="
  width: 400px;
  height: 200px;
  object-fit: fill;
  margin-right: 3%;
"/></a></div></th>
<th><div class = "lowboxdashed">
配信者の猫ちゃん判定(非公開)
</div>
<div class = "boxdashed"><a href="./contact" target="_blank" title="shaka"><img src= "{% static "img/shaka.png" %}" style="
  width: 400px;
  height: 200px;
  object-fit: fill;
  margin-right: 3%;
"/></a></div></th></table>

<!-- －－－－－　〇　区域分け！ 〇　－－－－－-->

<table><tr><th><div class = "lowboxdashed">
日記
</div>
<div class = "boxdashed"><a href="./phan" target="_blank" title="diary"><img src= "{% static "img/diary.png" %}" style="
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-right: 3%;
"/></a></div></th>
<th><div class = "lowboxdashed">
簡易ストップウォッチ
</div>
<div class = "boxdashed"><a href="./tx" target="_blank" title="stopwatch"><img src= "{% static "img/sw.png" %}" style="
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-right: 3%;
"/></a></div></th></table>

<!-- －－－－－　〇　区域分け！ 〇　－－－－－-->

<table><tr><th><div class = "lowboxdashed">
＠パーティⅡGZX 鉄壁の守護神
</div>
<div class = "boxdashed"><a href="http://www.diced.jp/~kome/cgi-bin/At_L/partyGZX/party/index.cgi" target="_blank" title="atparty"><img src="http://www.diced.jp/~kome/cgi-bin/At_L/partyGZX/party/icon/etc/title.png"  style="
  width: 400px;
  height: 200px;
  object-fit: fill;
  margin-right: 3%;
"/></a></div>
</th>
<th>
<div class = "lowboxdashed">
箱庭諸島(停止)
</div>
<div class = "boxdashed"><a href="http://ankoku.rosx.net/hako/hako-main.cgi" target="_blank" title="hako"><img src="/static/img/home_background.jpg"  style="
  width: 400px;
  height: 200px;
  object-fit: fill;
  margin-right: 3%;
"/></a></div>
</th></table>

<!-- －－－－－　〇　区域分け！ 〇　－－－－－-->
