<html>
  <head>
    <title>Ola's blog</title>
  </head>
  <body>
    <div>
      <a href="https://atcoder.jp/users/NoKnowledgeGG" target="_blank" title="NoKnowledgeGG"><img src="https://atcoder-badges.now.sh/api/atcoder/NoKnowledgeGG" /></a>
    </div>
    <div>
      <h1><a href = "/">Django Girls Blog</a></h1>
    </div>
    <div>
      <p>published:14.06.2014, 12:14</p>
      <h2><a href="">My first post</a></h2>
      <p>Aenean eu leo quam. Hello?</p>
    </div>

    <div>
    <p>Hi There!</p>
    <h2><a href="">second</a></h2>
    <p>It works!</p>
    </div>
  </body>
</html>
