{% load static %}
<html>
  <head>
    <title>現在工事中</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Noto+Serif+JP&subset=japanese" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <div class = "page-header">
      <div class = "page">
        <div class = "inline_block">
      <h1>Phan_yLe's Ark</h1>
        </div>
      </div>
    </div>
    <div class = "page">
      　　　　　あなたは
      <!-- shinobi ct2 -->
      <script type="text/javascript" src="//ct2.shinobi.jp/sc/1715174"></script>
      <noscript><a href="//ct2.shinobi.jp/gg/1715174"><img src="//ct2.shinobi.jp/ll/1715174" border="0" alt="カウンター" /></a></noscript>
      <!-- /shinobi ct2 -->
      番目の訪問者です！
    <br>
    <br>
      Progress: 3% <progress id="prog" max="100" value="3"> 3% </progress>
    <br>
    <br>
      <p>開発途中</p>
    <br>
    <div class = "inline_block">
      <div class="shadowbox">
        <div class = "neumorphism1">
        Profile
        </div>
        <p>
        ID   : NoKnowledgeGG
          <br>AtCoder : <Font color = 'green'>緑色</Font><br><a href="https://atcoder.jp/users/NoKnowledgeGG" target="_blank" title="NoKnowledgeGG"><img src="https://atcoder-badges.now.sh/api/atcoder/NoKnowledgeGG" /></a>
          <br><a class="github-button" href="https://github.com/anko191" data-color-scheme="no-preference: dark; light: dark; dark: dark;" aria-label="Follow @anko191 on GitHub">Follow @anko191</a>
        </p>
      </div>
      <div class="shadowbox">
        <div class = "neumorphism1">
        Hobbies and Favorite Things
        </div>
        <p>
        Kaggle
        <br>DeepLearning<br>AtCoder<br>smile<br>ちょいPytorch<br>
        </p>
      </div>
      <div class="shadowbox">
        <div class = "neumorphism1">
        Twitter
        </div>
        <div class = "page">
          <br>
          <a class="twitter-timeline" data-width="220" data-height="500" data-theme="dark" href="https://twitter.com/YlePhan?ref_src=twsrc%5Etfw">Tweets by YlePhan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="shadowbox">
        <div class = "neumorphism1">
        Sites I developed
        </div>
        <p>
        <br><div class = "boxdashed"><Font color = 'green'>＠パーティⅡGZX 鉄壁の守護神</Font><br><a href="http://www.diced.jp/~kome/cgi-bin/At_L/partyGZX/party/index.cgi" target="_blank" title="atparty"><img src="http://www.diced.jp/~kome/cgi-bin/At_L/partyGZX/party/icon/etc/title.png" /></a></div>
        <br><div class = "boxdashed"><Font color = 'green'>時の進まない箱庭諸島</Font><br>↓<br>→<a href="http://ankoku.rosx.net/hako/hako-main.cgi" target="_blank" title="hako"><img src="http://ankoku.rosx.net/hako/hakorenas/prize10.gif" /></a>←<br>↑</div>
        <br><div class = "boxdashed"><Font color = 'green'>簡易ストップウォッチ</Font><br><a href="https://noknowledgegg.pythonanywhere.com/tx" target="_blank" title="stopwatch"><img src= "{% static "img/sw.png" %}" style="
          width: 200px;
          height: 80px;
          object-fit: cover;
          margin-right: 3%;
        "/></a><br><br></div>
        </p>
      </div>
    </div>
  </div>
      <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
