<html>
  <head>
    <title>現在工事中</title>
  </head>
  <body>

    <div>
      <h1><a href = "/">現在工事中です</a></h1>
    </div>
    <div>
      Progress:<progress id="prog" max="100" value="3"> 3% </progress>
    </div>
    <div>
      <p>まだ何もありません...</p>
    </div>
    <div>
      <p>
      <ul>
        <li>AtCoder : <Font color = 'brown'>茶色</Font></li>
        <li>   ID   : NoKnowledgeGG
        <li><a href="https://atcoder.jp/users/NoKnowledgeGG" target="_blank" title="NoKnowledgeGG"><img src="https://atcoder-badges.now.sh/api/atcoder/NoKnowledgeGG" /></a></li>
      </ul>
      </p>
    </div>
    <div>
      <a class="twitter-timeline" data-width="220" data-height="500" data-theme="dark" href="https://twitter.com/YlePhan?ref_src=twsrc%5Etfw">Tweets by YlePhan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </body>
</html>
